.grid {
    display: grid;
    justify-content: center;
    grid-gap: 1.5rem 1.875rem;
}

.btn {
    border: none;
    cursor: pointer;
    color: inherit;
}

.btn:active {
    transform: translateY(2px);
}

.btn:focus {
    border: none;
    outline: none;
}

.hide {
    display: none;
}

.opacity {
    opacity: 0.3;
}

.transparent {
    opacity: 0;
    visibility: hidden;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}