* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

canvas {
    display: block;
    margin: 20px auto;
    border: 1px solid black;
}

.canvas-container {
    width: 100vw;
    height: 500px
}

.grid {
    display: grid;
    grid-gap: 20px;
    /* color: rgba(245, 245, 220, 0.548) */
}

.img-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(200px, 1fr);
}

.img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    grid-area: span 1 / span 1;
}

.img-container img:hover, button {
    cursor: pointer;
}

.controls {
    text-align: center;
}

.hide {
    display: none;
}