* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

canvas {
    display: block;
    margin: 20px auto;
    border: 1px solid black;
}

.canvas-container {
    width: 100vw;
    height: 500px
}

main {
    text-align: center;
}

.grid {
    display: grid;
    grid-gap: 2rem;
}

.img-container {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-auto-rows: auto;
    max-width: 60vw;
    margin: 0 auto;
}

.img-container img {
    width: 100%;
}

.img-container img:hover, button {
    cursor: pointer;
}

.controls {
    text-align: center;
}

.hide {
    display: none;
}