@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: poppinsMedium;
    src: url(../fonts/Poppins/Poppins-Medium.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1.3125rem;
    font-family: poppins, sans-serif;
    color: white;
    background-color: #22252c;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 1em;
}

select:focus, input:focus {
    border: none;
    outline: none;
}

[type="radio"] {
    display: none;
}

label {
    color: inherit;
    font-family: poppinsMedium, sans-serif;
    text-decoration: none;
}

canvas {
    display: block;
    min-width: 98%;
    min-height: 98%;
}

main {
    text-align: center;
    margin: 0 16px 20px;
    flex-grow: 1;
}

.page-container {
    display: flex;
    height: 100%;
    flex-direction: column;
}

/* Header - Logo & Navbar */

.navbar {
    height: 4.563rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 37px;
    margin: 1rem 0.4375rem;
    padding: 0 3.125rem;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
}

.navbar .hamburger {
    display: none;
}

.logo {
    height: 40%;
}

.logo img {
    height: 100%;
    cursor: pointer;
}

.main-nav {
    display: flex;
}

.main-nav label {
    display: flex;
    align-items: center;
    padding: 1em;
    height: 1.2em;
    border-radius: 20px;
}

.main-nav [name="nav-radio"]:not(:checked)+label:hover {
    filter: drop-shadow(0 0 4px black);
}

[name="nav-radio"]:checked+label {
    color: #21ac91;
    background-color: white;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
}