@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: poppinsMedium;
    src: url(../fonts/Poppins/Poppins-Medium.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1.3125rem;
    font-family: poppins, sans-serif;
    color: white;
    background-color: #22252c;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 1em;
}

button {
    border: none;
}

button:focus, select:focus, input:focus {
    border: none;
    outline: none;
}

button:active {
    transform: translateY(2px);
}

[type="radio"] {
    display: none;
}

label {
    color: inherit;
    font-family: poppinsMedium, sans-serif;
    text-decoration: none;
}

canvas {
    display: block;
    min-width: 98%;
    min-height: 98%;
}

main {
    text-align: center;
    margin: 0 16px 20px;
    flex-grow: 1;
}

.page-container {
    display: flex;
    height: 100%;
    flex-direction: column;
}

/* Header - Logo & Navbar */

.navbar {
    height: 4.563rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 37px;
    margin: 1rem 0.4375rem;
    padding: 0 3.125rem;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
}

.navbar .hamburger {
    display: none;
}

.logo {
    height: 40%;
}

.logo img {
    height: 100%;
    cursor: pointer;
}

.main-nav {
    display: flex;
}

.main-nav label {
    display: flex;
    align-items: center;
    padding: 1em;
    height: 1.2em;
    border-radius: 20px;
}

.main-nav [name="nav-radio"]:not(:checked)+label:hover {
    filter: drop-shadow(0 0 4px black);
}

[name="nav-radio"]:checked+label {
    color: #21ac91;
    background-color: white;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
}

/* Images */

.search-container {
    width: 37rem;
    height: 3.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 29px;
    margin: 0 20px 30px;
    background-color: #22252c;
}

.search {
    width: 80%;
    height: 80%;
    margin-right: 1.25rem;
    background-color: transparent;
    border: none;
    color: white;
    font-family: inherit;
    font-size: inherit;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

.search-container img {
    cursor: pointer;
}

.gallery {
    padding: 1.875rem 0;
    border-radius: 10px;
    background-color: #383b42;
}

.img-container {
    grid-template-columns: repeat(auto-fit, 12.5rem);
    grid-auto-rows: 10.8125rem;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.445);
}

.img-container img:hover, button, label {
    cursor: pointer;
}

/* Saved Memes */

.meme-hover {
    position: relative;
    height: 100%;
    width: 100%;
}

.meme-hover img {
    transition: .5s;
}

.meme-btns {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.meme-btns>* {
    border-radius: 10px;
    max-height: 27%;
    min-height: 27%;
    min-width: 25%;
    max-width: 25%;
}

.meme-btns :first-child {
    margin-right: 1.25rem;
}

.meme-btns .btn-delete-meme {
    background: url(../img/controls/deleteLine.png) no-repeat center, red;
}

.meme-btns .btn-edit-meme {
    background: url(../img/controls/edit.png) no-repeat center, rgb(224, 255, 251);
}

/* Edit Meme - Canvas */

.edit-meme {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.edit-container {
    max-width: 33.125rem;
    max-height: 48vw;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: auto;
    border-radius: 30px;
    background-color: rgba(235, 238, 243, 0.11);
    box-shadow: 1px 5px 0 rgba(187, 196, 209, 0.11);
}

.canvas-container {
    margin-right: 1.25rem;
}

canvas {
    width: 98%;
    max-width: 32.5rem;
    max-height: 98%;
    border-radius: 30px;
    box-shadow: 1px 5px 0 #27292e;
}

/* Controls */

.controls {
    text-align: center;
    justify-content: space-between;
    padding: 3vw;
}

.controls>* {
    margin: 0.625rem auto;
    display: flex;
    flex: auto;
}

.controls button {
    border-radius: 10px;
    height: 3.125rem;
    width: 3.125rem;
    border: none;
}

.line-ctrls {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-ctrls>*:not(:last-child) {
    margin-right: 0.625rem;
}

.controls [name="line-txt"] {
    font-family: poppinsMedium, sans-serif;
    font-size: 1.5625rem;
    text-align: center;
    padding: 0.3em;
    border: none;
    width: 100%;
    color: #3d3d3d;
    border-radius: 28px;
    text-transform: uppercase;
    background-color: #ebeef3;
    box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
}

.btn-switch-lines {
    box-shadow: 1px 5px 0 #048b97, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background: url(../img/controls/upDownArrow.png) no-repeat center, linear-gradient(-38deg, #66c4dc 0%, #40b1ce 50%, #0c98bb 100%);
}

.btn-line-txt {
    box-shadow: 1px 5px 0 #015d33, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background: url(../img/controls/addLine.png) no-repeat center, linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
}

.btn-move-up {
    box-shadow: 1px 5px 0 #5d0151, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background: url(../img/controls/upArrow.png) no-repeat center, linear-gradient(-38deg, #5d0151 0%, #b33783 100%);
}

.btn-move-down {
    box-shadow: 1px 5px 0 #5d0151, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background: url(../img/controls/downArrow.png) no-repeat center, linear-gradient(-38deg, #5d0151 0%, #b33783 100%);
}

.btn-delete-line {
    box-shadow: 1px 5px 0 #8c0606, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background: url(../img/controls/deleteLine.png) no-repeat center, linear-gradient(-38deg, #cf1d37 0%, #cf1d37 1%, #f05036 100%);
}

.font-ctrls {
    max-width: 27.8125rem;
    height: 9.4375rem;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5625rem 1rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    background-color: #19a59f;
}

.font-ctrls>* {
    border-radius: 10px;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
}

.font-ctrls *:hover {
    cursor: pointer;
}

.btn-increase-font {
    background: url(../img/controls/increaseFont.png) no-repeat center, white;
}

.btn-decrease-font {
    background: url(../img/controls/decreaseFont.png) no-repeat center, white;
}

.btn-align-left {
    background: url(../img/controls/alignLeft.png) no-repeat center, white;
}

.btn-align-center {
    background: url(../img/controls/alignCenter.png) no-repeat center, white;
}

.btn-align-right {
    background: url(../img/controls/alignRight.png) no-repeat center, white;
}

.select-font {
    width: 14.75rem;
    height: 3.125rem;
    border: none;
    appearance: none;
    padding: 0.3125rem 1.25rem;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-size: 1.6875rem;
    text-transform: uppercase;
    background: url(../img/controls/dropdownArrow.png) no-repeat calc(100% - 5px), white;
    font-family: poppinsMedium, sans-serif;
}

.btn-stroke {
    background: url(../img/controls/stroke.png) no-repeat center, white;
}

label[for="change-color"] {
    width: 3.125rem;
    height: 3.125rem;
    border: none;
    appearance: none;
    background: url(../img/controls/color.png) no-repeat center, white;
}

[name="change-color"] {
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    visibility: hidden;
}

.canvas-to-img {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.canvas-to-img>*, .btn-share {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 3.1875rem;
    width: 13.3125rem;
}

.canvas-to-img *:not(:last-child) {
    margin-right: 1.25rem;
}

.share {
    box-shadow: 1px 6px 0 #165c9c, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-color: #1e7cd3;
}

.btn-share {
    color: inherit;
    width: inherit;
    font-family: inherit;
    font-size: inherit;
    background: none;
}

.download {
    box-shadow: 1px 6px 0 #632687, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-color: #8f44bb;
}

/* General */

.grid {
    display: grid;
    justify-content: center;
    grid-gap: 1.5rem 1.875rem;
}

.hide {
    display: none;
}

.opacity {
    opacity: 0.3;
}

.transparent {
    opacity: 0;
    visibility: hidden;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* @media only screen and (max-width: 1004px) {
    canvas {
        min-width: 98%;
        min-height: 98%;
    }
    .controls {
        padding: 3%;
    }
} */

@media only screen and (max-width: 920px) {
    .controls {
        padding: 1vw;
    }
    .font-ctrls {
        padding: 0.5vw;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 765px) {
    .controls {
        padding: 0;
    }
    .font-ctrls {
        padding: 0;
    }
    .controls button, .controls select, .controls label, .canvas-to-img>* {
        height: 2.8125rem;
    }
    .grid {
        grid-gap: 3vw;
    }
}

@media only screen and (max-width: 682px) {
    .page-container {
        height: 100vh;
    }
    .navbar {
        margin: 0;
        padding: 1.5rem;
        min-height: 90px;
        max-height: 90px;
        border-radius: unset;
    }
    .navbar .hamburger {
        display: block;
        cursor: pointer;
    }
    .logo {
        height: 100%;
    }
    .list-container {
        right: 0;
        top: 90px;
        position: absolute;
        height: calc(100vh - 130px);
        width: 100%;
        background-color: #22252cb2;
        z-index: 1;
    }
    .main-nav {
        float: right;
        width: 50vw;
        height: 100%;
        flex-direction: column;
        background-color: #2cd18cdc;
        border-left: 1px solid #585858;
    }
    .main-nav li:first-child {
        border-top: 1px solid #2f805edc;
    }
    .main-nav li {
        width: 100%;
        height: 70px;
        border-bottom: 1px solid #2f805edc;
    }
    .main-nav li>* {
        height: 100%;
        border-radius: unset;
        justify-content: center;
    }
    main {
        margin: 10px;
    }
    .gallery {
        margin-top: 10px;
    }
    .img-container {
        grid-template-columns: repeat(auto-fit, 300px);
        grid-auto-rows: 287px;
    }
    .edit-meme {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .edit-container {
        margin-right: 0;
        min-height: 21.875rem;
        width: 98%;
    }
    .controls {
        padding: 5px 15px;
        margin-bottom: 3px;
    }
    .font-ctrls button, .controls label {
        min-width: 3rem;
    }
    .controls select {
        width: 40vw;
        font-size: 1em;
    }
    .font-ctrls {
        height: 40%;
        min-height: 6.25rem;
        margin: 3px auto 0;
    }
    .canvas-to-img *:not(:last-child) {
        margin-right: 10px;
    }
    .canvas-to-img * {
        font-size: 1rem;
    }
    .search-container {
        width: 94%;
    }
}